.header{
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    width: 100%;
    height: 100%;
}
.backHome{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color:#5D9EFF;
}
.backHome p{
    padding-left: 15px;
}
form h3{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
}
form p{
    font-size: 16px;
    margin-bottom: 15px;
    color: #636363;
}
form{
    margin: 0 auto;
    width: 450px;
    height: auto;
}
form input{
    width: 100%;
    background: #dddddd;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-top: 5px;
    padding-left: 20px;
}
form input[type="submit"]{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #5D9EFF;
    transition: ease-in 0.2s;
    padding-left: 0;
}

form textarea{
    width: 100%;
    background: #dddddd;
    height: 180px;
    resize: none;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 3px;
    padding-left: 20px;
}
@media screen and (max-width: 700px){
    form{
        width: 100%;
        padding: 0 10%;
    }
    .header a{
        padding: 5px 12px;
        font-size: 1.4rem;
    }
    .header img{
        height: 40px;
    }
}