@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  
}
body{
    background-color: #EEF0F5;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #333333;
  border-radius: 10px;  
} 